/*
// #Header Navigation
// --------------------------------------------------
*/

/* Navigation - Desktop */

.main-nav {

	@media (min-width: 992px) {
		justify-content: $nav-align;
	}
}

.main-nav__list{

	@media (min-width: 992px) {
		border-left: $nav-item-divider;
	}

	/* 1st Level */
	> li {

		@media (min-width: 992px) {
			border-right: $nav-item-divider;
		}

		> a {
			font-style: $nav-font-style;
			font-weight: $nav-font-weight;
			color: $nav-font-color;
			line-height: $nav-height;
			font-size: $nav-font-size;
			font-family: $nav-font-family;
			text-transform: $nav-text-transform;

			&::before {
				height: $nav-active-border-height;
			}

			&:hover {
				color: $nav-font-color-hover;
				background-color: $nav-active-bg;

				&::before {
					background-color: $nav-active-border-color;
				}
			}
		}

		// Active
		&.current-menu-item {

			> a {
				color: $nav-font-color-hover;
				background-color: $nav-active-bg;

				&::before {
					background-color: $nav-active-border-color;
				}
			}
		}
	}
}


/* Megamenu */
.has-mega-menu .main-nav__sub-0 {
	top: $nav-height;
	border: solid 1px $nav-sub-border-color;
	background-color: $nav-sub-bg;

	.main-nav__title,
	.widget .widget__title,
	.widget-title {
		color: $nav-sub-megamenu-title-color;
		font-family: $font-family-accent;
	}

	.widget {
		color: $nav-sub-megamenu-txt-color;

		ul {

			> li {

				> a {
					color: $nav-sub-megamenu-link-color;

					&:hover {
						color: $color-primary-darken;
					}
				}
			}
		}

		.post-author__name {
			color: $nav-sub-megamenu-txt-color;
		}

		.meta__item a {
			color: $nav-sub-megamenu-meta-color;

			&:hover {
				color: $nav-sub-megamenu-meta-color-hover;
			}
		}
	}

	// List items inside Megamenu
	.main-nav__sub-1 {

		> li {

			> a {
				font-family: $font-family-accent;
				color: $nav-sub-megamenu-link-color;

				&:hover {
					color: $nav-sub-megamenu-link-color-hover;
				}
			}
		}
	}
}


/* Submenu */
.main-nav__sub-0{
	top: $nav-height;
	background-color: $nav-sub-bg;
	border: solid 1px $nav-sub-border-color;

	> li {

		&.menu-item-has-children {

			> a {

				&::after {
					background-image: url($nav-sub-arrow);
				}
			}
		}
	}

	// apply only for non-mega menu items
	.no-mega-menu & li {

		a {
			font-family: $nav-sub-font-family;
			text-transform: $nav-sub-text-transform;
			font-weight: $nav-sub-font-weight;
			font-style: $nav-sub-font-style;
			font-size: $nav-sub-font-size;
			color: $nav-sub-link-color;
			border-bottom: 1px solid $nav-sub-border-color;

			&:hover {
				color: $nav-sub-hover-link-color;
				background-color: $nav-sub-hover-bg-color;
			}
		}
	}
}

/* Submenu */
.main-nav__sub-0 {

	li {

		&:hover {

			.main-nav__sub-1 {
				background-color: $nav-sub-bg;
			}
		}
	}
}

/* 2nd Submenu */
.main-nav__sub-1 {
	border: solid 1px $nav-sub-border-color;

	li {

		&:hover {

			.main-nav__sub-2 {
				border: solid 1px $nav-sub-border-color;
				background-color: $nav-sub-bg;
			}
		}
	}
}


/* Navigation - Mobile */
@media only screen and (max-width: 991px) {

	.main-nav {
		width: $nav-mobile-width;
		transform: translateX(-$nav-mobile-width);
		background-color: $nav-mobile-bg;

		// Mobile Logo
		.header-mobile__logo {
			border-bottom: 1px solid $nav-mobile-border;
		}

		.df-icon {
			stroke: $header-info-block-color;
		}
		.df-icon-custom {

			i {
				color: $header-info-block-color;
			}
		}

		// Shopping Cart
		.main-nav__item--shopping-cart {

			.info-block__cart-sum {
				color: $header-info-block-cart-sum-color-mobile;
			}
		}

		.main-nav__list {

			> li {

				> a {

					.highlight {
						color: $header-info-block-color-mobile;
					}
				}

				// Logout
				&.nav-account__item--logout {

					> a {
						color: #6b6d70;
					}
				}
			}
		}
	}


	/* Mobile click to drop arrow */
	.main-nav__toggle {

	}

	.main-nav__toggle-2 {

	}

	/* 3rd Level Submenu */
	.main-nav__sub-2{

		li {

			&:hover {

				> a {
					color: #fff;
				}
			}
		}
	}

	.main-nav {

		.main-nav__list{
			border-top: 1px solid $nav-mobile-border;

			> li {

				> a {
					font-size: $nav-mobile-font-size;
					color: $nav-mobile-color;
					border-bottom: 1px solid $nav-mobile-border;
				}
			}

			li {

				&.menu-item-has-children {

					> a {

						&::after {

						}
					}
				}
			}
		}
	}

	.main-nav__list {

		// Submenu
		.main-nav__sub-0 {
			background-color: $nav-mobile-sub-bg;

			> li {

				> a {
					color: $nav-mobile-sub-color;
					font-family: $nav-sub-font-family;

					&:hover {
						color: #fff;
					}
				}

				&:hover {

					> a {
						color: #fff;
					}

					.main-nav__sub-1 {

					}
				}

				[class*='main-nav__sub-'] {
					background-color: transparent;
					border: none;

					li {

						a {
							color: $nav-mobile-sub-color;

							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}

		// Megamenu
		.has-mega-menu .main-nav__sub-0{
			background-color: $nav-mobile-sub-bg;
			color: $nav-mobile-sub-color;

			.main-nav__title {
				color: #fff;
			}

			.main-nav__sub-1 {

				> li {

					> a {
						color: $nav-mobile-sub-color;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
