/*
// #Header Navigation
// --------------------------------------------------
*/

/* Navigation - Desktop */

.main-nav {
	position: relative;

	@media (min-width: 992px) {
		display: flex;
		align-items: center;
		justify-content: $nav-align;

		@if $template == 'football' {

			> ul,
			> div {
				margin-left: auto;

				&.main-nav__list {
					margin-left: 0;
				}
			}
		}
	}

	.header-mobile__logo {
		display: none;
	}
}

.main-nav__list {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: none;

	@media (min-width: 992px) {
		border-left: $nav-item-divider;
	}

	/* 1st Level */
	> li {
		text-align: center;
		display: inline-block;
		padding: 0;

		@media (min-width: 992px) {
			margin-left: -0.25em;
			border-right: $nav-item-divider;

			&:first-of-type {
				margin-left: 0;
			}
		}

		> a {
			display:block;
			position: relative;
			font-style: $nav-font-style;
			color: $nav-font-color;
			padding: 0 34px;
			line-height: $nav-height;
			text-decoration: none;
			position: relative;
			font-size: $nav-font-size;
			font-family: $nav-font-family;
			text-transform: $nav-text-transform;
			transition: color 0.3s ease;

			@media (min-width: 992px) and (max-width: 1199px) {
				padding-left: 20px;
				padding-right: 20px;
			}

			&::before {
				content:"";
				display: block;
				position: absolute;
				left: 0;

				@if $nav-active-border-pos == bottom {
					bottom: 0;
				} @else {
					top: 0;
				}

				height: $nav-active-border-height;
				width: 100%;
				background-color: transparent;
				transition: background-color 0.3s ease;

				@if $nav-active-border-height == 100% {
					z-index: -1;
				}
			}

			&:hover {
				color: $nav-font-color-hover;
				background-color: $nav-active-bg;
				text-decoration:none;

				&::before {
					background-color: $nav-active-border-color;
				}
			}
		}

		// Active
		&.current-menu-item {

			> a {
				color: $nav-font-color-hover;
				text-decoration: none;
				background-color: $nav-active-bg;

				&::before {
					background-color: $nav-active-border-color;
				}
			}
		}

		// If item has submen add class and arrow
		&.menu-item-has-children {

			> a {

				&::after {
					content:"";
					display: inline-block;
					margin-left: 9px;
					width: 6px;
					height: 4px;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
					background-size: 6px 4px;
					background-repeat: no-repeat;
					background-position: center center;
					top: -2px;
					position: relative;
				}
			}
		}
	}
}


/* Megamenu */
.has-mega-menu .main-nav__sub-0 {
	width: 100%;
	left: 0;
	position: absolute;
	top: $nav-height;
	z-index: 1000;
	margin: 0;
	text-align: left;
	padding: 43px 55px;
	font-size: 15px;
	border: solid 1px $nav-sub-border-color;
	background-color: $nav-sub-bg;
	opacity: 0;
	transform-origin: 0 0;
	transition: transform .3s, opacity .3s;

	.main-nav__title,
	.widget .widget__title,
	.widget-title {
		font-size: 14px;
		letter-spacing: -0.03em;
		padding: 3px 0;
		margin-bottom: 19px;
		color: $nav-sub-megamenu-title-color;
		text-align:left;
		text-transform: uppercase;
		font-family: $font-family-accent;
		font-weight: 700;
		line-height: 1.2em;
	}

	.widget {
		border: none;
		padding: 0;
		color: $nav-sub-megamenu-txt-color;

		.widget__title {
			border: none;

			&::before {
				display: none;
			}
		}

		& + .widget {
			margin-top: 30px;

			@media (min-width: 992px) {
				margin-top: 40px;
			}
		}

		ul {
			margin: 0;

			> li {
				padding: 7px 0;

				& + li {
					border-top: none;
				}

				> a {
					display: inline;
					padding: 0;
					color: $nav-sub-megamenu-link-color;

					&:hover {
						color: $color-primary-darken;
					}
				}
			}
		}

		.post-author__name {
			color: $nav-sub-megamenu-txt-color;
		}

		.meta__item a {
			color: $nav-sub-megamenu-meta-color;

			&:hover {
				color: $nav-sub-megamenu-meta-color-hover;
			}
		}
	}

	// Lists inside Megamenu
	[class*="main-nav__sub-"] {
		min-width: auto;
		border: none;
		position: static;
	}

	// List items inside Megamenu
	.main-nav__sub-1 {

		> li {
			display: block;
			white-space: nowrap;
			text-align: left;
			text-transform: uppercase;

			> a {
				display: block;
				font-size: 11px;
				line-height: 18px;
				font-family: $font-family-accent;
				font-weight: 700;
				text-align: left;
				padding: 5px 0;
				color: $nav-sub-megamenu-link-color;
				transition: color 0.3s ease;

				&:hover {
					color: $nav-sub-megamenu-link-color-hover;
					background-color: transparent;
					text-decoration: none;
				}
			}
		}
	}
}

/* Megamenu default columns */
@media (min-width: 992px) {
	ul[class*="megamenu-col-"] {
		overflow: hidden;

		> li.megamenu-item {
			float: left;
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	li.megamenu-col-2:not([class*="col-md-"]) {
		width: 50%;
	}
	li.megamenu-col-3:not([class*="col-md-"]) {
		width: 33.3%;
	}
	li.megamenu-col-4:not([class*="col-md-"]) {
		width: 25%;
	}
	li.megamenu-col-5:not([class*="col-md-"]) {
		width: 20%;
	}
	li.megamenu-col-6:not([class*="col-md-"]) {
		width: 16.66666667%;
	}
}


/* Animation for Navigation */
.main-nav__list {

	li {

		// preparing animation
		> .main-nav__sub-0,
		> .main-nav__sub-1,
		> .main-nav__sub-2 {
			transform-style: preserve-3d;
			transform: rotateX(-75deg);
			visibility: hidden;
		}

		&:hover {

			// animation on hover
			> .main-nav__sub-0,
			> .main-nav__sub-1,
			> .main-nav__sub-2 {
				transform: rotateX(0deg);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// Remove animation from Megamenu content
	li.has-mega-menu:hover {

		> .main-nav__sub-0 {

			ul {
				transform: rotateX(0deg);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


/* Submenu */
.main-nav__sub-0{
	position: absolute;
	top: $nav-height;
	z-index: 1000;
	margin: 0;
	padding: 0;
	min-width: 240px;
	background-color: $nav-sub-bg;
	border: solid 1px $nav-sub-border-color;
	opacity: 0;
	transform-origin: 0% 0%;
	transition: transform 0.3s, opacity 0.3s;

	> li {

		> a {
			text-decoration:none;
		}

		&.menu-item-has-children {

			> a {

				&::after {
					content:"";
					display: block;
					position: absolute;
					right: 24px;
					top: 50%;
					margin-top: -2px;
					width: 6px;
					height: 4px;
					background-image: url($nav-sub-arrow);
					background-size: 6px 4px;
					background-repeat: no-repeat;
					background-position: center center;
					transform: rotate(-90deg);
				}
			}
		}
	}

	// apply only for non-mega menu items
	.no-mega-menu & li {
		position: relative;
		margin: 0;
		padding: 0;

		a {
			display: block;
			font-family: $nav-sub-font-family;
			text-transform: $nav-sub-text-transform;
			font-weight: $nav-sub-font-weight;
			font-style: $nav-sub-font-style;
			font-size: $nav-sub-font-size;
			color: $nav-sub-link-color;
			text-align:left;
			line-height: 1.5em;
			padding: 16px 30px;
			letter-spacing:normal;
			border-bottom: 1px solid $nav-sub-border-color;
			transition: background-color 0.3s ease;

			&:hover {
				color: $nav-sub-hover-link-color;
				background-color: $nav-sub-hover-bg-color;
			}
		}

		&:last-child {

			> a {
				border-bottom: none;
			}
		}
	}
}


.main-nav__list {

	li {

		&:hover {

			.main-nav__sub {
				display: block;
			}
		}
	}
}

/* Submenu */
.main-nav__sub-0 {

	li {
		position: relative;
		padding: 0;
		margin: 0;
		display: block;

		&:hover {

			.main-nav__sub-1 {
				display: block;
				opacity: 1;
				list-style: none;
				padding: 0;
				background-color: $nav-sub-bg;
			}
		}
	}
}

/* 2nd Submenu */
.main-nav__sub-1 {
	min-width: 240px;
	border: solid 1px $nav-sub-border-color;
	position: absolute;
	left: 100%;
	top: -1px;
	margin: 0;
	padding: 0;
	opacity: 0;
	transform-origin: 0% 0%;
	transition: transform 0.4s, opacity 0.4s;

	li {

		&:hover {

			.main-nav__sub-2 {
				opacity: 1;
				list-style: none;
				padding: 0;
				border: solid 1px $nav-sub-border-color;
				background-color: $nav-sub-bg;
			}
		}
	}
}

/* 3rd Submenu */
.main-nav__sub-2{
	min-width: 240px;
	position: absolute;
	left: 100%;
	top: -1px;
	margin: 0;
	padding: 0;
	opacity: 0;
	transform-origin: 0% 0%;
	transition: transform 0.4s, opacity 0.4s;
}

.main-nav__toggle,
.main-nav__toggle-2 {
	display: none;
}

@media only screen and (min-width: 992px) {
	.main-nav__list li:hover > .main-nav__sub-0,
	.main-nav__sub-0 li:hover > .main-nav__sub-1,
	.main-nav__sub-1 li:hover > .main-nav__sub-2,
	.main-nav__list li:hover > .main-nav__megamenu {
		display: block;
	}

	// Hide appended items
	.main-nav__list {

		.nav-account__item {
			display: none;
		}

		.social-links__item {
			display: none;
		}

		.main-nav__item--social-links {
			display: none;
		}
	}

	.main-nav .main-nav__item--shopping-cart {
		display: none;
	}
}


/* Navigation - Mobile */
@media only screen and (max-width: 991px) {

	.main-nav {
		width: $nav-mobile-width;
		left: 0;
		transform: translateX(-$nav-mobile-width);
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		margin: 0;
		z-index: 103;
		overflow: auto;
		transition: all 0.4s ease-in-out;
		background-color: $nav-mobile-bg;

		.site-wrapper--has-overlay & {
			transform: translateX(0);
			transition: all 0.4s ease-in-out;
		}

		// Mobile Logo
		.header-mobile__logo {
			position: relative;
			padding: 5px 0 18px 0;
			display: block;
			border-bottom: 1px solid $nav-mobile-border;
		}

		.df-icon {
			stroke: $header-info-block-color;
		}
		.df-icon-custom {

			i {
				color: $header-info-block-color;
			}
		}

		// Shopping Cart
		.main-nav__item--shopping-cart {

			.info-block__link-wrapper {
				overflow: hidden;
				font-size: 11px;
				line-height: 1.5em;
				padding-right: 20px;
			}
			.df-icon-custom {
				display: none;
			}

			.df-icon-stack--bag {
				display: none;
			}
			.info-block__heading {
				margin-bottom: 0;
				float: left;
				font-size: 11px;
				line-height: 1.5em;
			}
			.info-block__cart-sum {
				float: right;
				font-size: 11px;
				line-height: 1.5em;
				color: $header-info-block-cart-sum-color-mobile;
			}
		}

		// Back Button
		.main-nav__back {
			width: 49px;
			height: 44px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 4;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8'%3E%3Cpath transform='translate(-238.75 -17.75)' fill='%23fff' d='M240,21h12v2H240V21Zm0.171-.415,4.243,4.243L243,26.242,238.757,22Zm4.243-1.414-4.243,4.242L238.757,22,243,17.757Z'/%3E%3C/svg%3E");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 13px 8px;

			&:hover {
				cursor: pointer;
			}
		}


		.main-nav__list {

			> li {

				> a {

					&::before {
						top: 0;
						bottom: 0;
						width: 4px;
						height: auto;
					}

					.highlight {
						color: $header-info-block-color-mobile;
					}
				}

				&.menu-item-has-children {

					> a {

						&::after {
							display: none;
						}
					}
				}

				// Logout
				&.nav-account__item--logout {

					> a {
						color: #6b6d70;
					}
				}

				// Wishlist
				&.nav-account__item--wishlist {

					> a {
						padding-right: 20px;
					}

					.highlight {
						float: right;
					}
				}

				// Social Links
				&.main-nav__item--social-links {
					text-align: left;
					padding: 0 15px 20px 15px;

					> a {
						display: inline-block;
						border-bottom: none;
						padding: 15px;

						&::before {
							display: none;
						}
					}
				}
			}
		}
	}

	.main-nav__list {

		li {

			&:hover {

				.main-nav__sub-0 {
					display: none;

					.main-nav__sub-1 {
						display:none;
					}
				}
			}
		}

		.main-nav__sub-0 {

			li {

				&.menu-item-has-children {

					> a {

						&::after {
							display: none;
						}
					}
				}
			}

			.main-nav__sub-1 {

				li {

					&:hover {

						.main-nav__sub-2{
							display:none;
						}
					}
				}
			}
		}
	}


	/* Mobile click to drop arrow */
	.main-nav__toggle {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 8px;
		right: 10px;
		display: block;
		cursor: pointer;
		z-index: 1;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
		background-size: 6px 4px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 0.4s ease;
	}

	.main-nav__toggle-2 {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 3px;
		right: 15px;
		display: block;
		cursor: pointer;
		z-index: 1;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
		background-size: 6px 4px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 0.4s ease;
	}

	.main-nav__toggle--rotate {
		transform: rotate(180deg);
	}

	/* 2nd Level Submenu */
	.main-nav__sub-1 {
		width: 100%;
		position: static;
		left: 100%;
		top: 0;
		display: none;
		margin: 0;
		padding: 0 !important;
		border: solid 0px;
		transform: none;
		opacity: 1;
		visibility: visible;

		li {
			margin: 0;
			padding: 0;
			position: relative;

			a {
				display:block;
				padding: 10px 25px 10px 25px;
			}

			&:hover {

				> a {
					color: #fff;
				}
			}
		}
	}

	/* 3rd Level Submenu */
	.main-nav__sub-2{
		width: 100%;
		position: static;
		left: 100%;
		top: 0;
		display: none;
		margin: 0;
		padding: 0 !important;
		border: solid 0px;
		transform:none;
		opacity: 1;
		visibility:visible;

		li {
			margin: 0;
			padding: 0;
			position: relative;

			a {
				display:block;
				padding: 10px 25px 10px 25px;
			}

			&:hover {

				> a {
					color: #fff;
				}
			}
		}
	}

	.main-nav {

		.main-nav__list{
			border-top: 1px solid $nav-mobile-border;
			height:100%;
			overflow-y: auto;
			display: block;

			> li {
				width: 100%;
				display: block;
				float: none;
				border-right: none;
				background-color: transparent;
				position: relative;
				white-space: inherit;

				> a {
					padding: 16px 30px;
					font-size: $nav-mobile-font-size;
					text-align: left;
					border-right: solid 0px;
					background-color: transparent;
					color: $nav-mobile-color;
					line-height: 1.5em;
					border-bottom: 1px solid $nav-mobile-border;
					position: static;
				}
			}

			li {

				&.menu-item-has-children {

					> a {

						&::after {
							transform: none;
							top: 13px;
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}

	.main-nav__list {

		// Submenu
		.main-nav__sub-0 {
			transform: none;
			opacity: 1;
			display: none;
			position: relative;
			top: 0;
			background-color: $nav-mobile-sub-bg;
			border: none;
			padding: 15px 0;
			visibility: visible;

			> li {

				> a {
					line-height: 1.5em;
					font-size: 10px;
					padding: 7px 0 7px 40px;
					color: $nav-mobile-sub-color;
					transition: color 0.3s ease;
					border-bottom: none !important;
					display: block;
					text-align: left;
					font-family: $nav-sub-font-family;
					text-transform: uppercase;

					&:hover {
						color: #fff;
						background-color: transparent !important;
					}
				}

				&:hover {

					> a {
						background-color: transparent;
						color: #fff;
					}

					.main-nav__sub-1 {
						background-color: transparent;
					}
				}

				[class*='main-nav__sub-'] {
					padding: 15px 0;
					background-color: transparent;
					border: none;

					li {

						a {
							line-height: 1.5em;
							font-size: 10px;
							padding: 7px 0 7px 50px;
							color: $nav-mobile-sub-color;
							transition: color 0.3s ease;
							border-bottom: none;

							&:hover {
								color: #fff;
								background-color: transparent;
							}
						}

						.main-nav__sub-2 {

							li {

								a {
									padding-left: 60px;
								}
							}
						}
					}
				}
			}
		}

		// Megamenu
		.has-mega-menu .main-nav__sub-0{
			background-color: $nav-mobile-sub-bg;
			color: $nav-mobile-sub-color;
			display: none;
			position: relative;
			top: 0;
			padding: 15px 0;
			border: none;
			transform: none;
			opacity: 1;
			visibility: visible;
			overflow: hidden;

			.megamenu-item:not(.menu-item-has-children) {
				padding-bottom: 15px;
			}

			.megamenu-item {
				padding-left: 30px;
				padding-right: 30px;
			}

			.main-nav__toggle-2 {
				top: 8px;
			}

			.main-nav__title {
				color: #fff;
				font-size: 11px;
				padding: 10px 0;
				margin: 0;
			}

			.main-nav__sub-1 {
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: 13px;

				> li {

					> a {
						padding: 7px 20px 7px 10px;
						line-height: 1.5em;
						font-size: 10px;
						color: $nav-mobile-sub-color;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}

		li {

			&:hover {

				.main-nav__megamenu {
					display: none;
					position: relative;
					top: 0;
				}
			}
		}
	}


	/* Animation None */
	.main-nav__list li > .main-nav__sub-0,
	.main-nav__list li:hover > .main-nav__sub-0,
	.main-nav__sub-0 li > .main-nav__sub-1,
	.main-nav__sub-0 li:hover > .main-nav__sub-1,
	.main-nav__sub-1 li > .main-nav__sub-2,
	.main-nav__sub-1 li:hover > .main-nav__sub-2 {
		transform: none;
		visibility: visible;
	}

	.main-nav__sub-0 li:hover > .main-nav__sub-1,
	.main-nav__sub-1 li > .main-nav__sub-2,
	.main-nav__sub-1 li:hover > .main-nav__sub-2 {
		opacity: 1;
	}
}
