//- Template Variable
//- ----------------------------------------------

$template: football;


//- Base
//- ----------------------------------------------

$font-family-base: 'Roboto', sans-serif !default;
$font-family-accent: 'Exo 2', sans-serif !default;
$base-font-size: 14px !default;
$base-line-height: 26px !default;
$font-size-mobile: 13px !default;
$line-height-mobile: 22px !default;
$body-font-weight: 400 !default;


//- Colors
//- ----------------------------------------------

$color-primary: #f92552 !default;
$color-primary-darken: #f92552 !default;
$color-dark: #323150 !default;
$color-dark-2: #282840 !default;
$color-dark-lighten: #383759 !default;
$color-dark-lighten-2: #363555 !default;
$color-gray: #9e9caa !default;
$color-gray-2: #938fa4 !default;
$color-gray-3: #7f7e8c !default;
$color-2: #3c3b5b !default;
$color-3: #9e69ee !default;
$color-4: #3ffeca !default;
$color-4-darken: #0fe3ab !default;

$color-success: #0fe3ab !default;
$color-info: #9e69ee !default;
$color-warning: #ff7e1f !default;
$color-danger: #f92552 !default;

$body-bg-color: #1e202f !default;
$body-font-color: $color-gray !default;
$body-font-color-inverse: $color-gray !default;

$link-color: $color-4-darken !default;
$link-decoration: none !default;
$link-color-hover: $color-4-darken !default;
$link-decoration-hover: none !default;


//- Components
//- ----------------------------------------------

$padding-base-vertical:     12px !default;
$padding-base-horizontal:   16px !default;



//- Tables
//- ----------------------------------------------

$table-cell-padding:            13px !default;
$table-cell-padding-lg:         17px !default;
$table-condensed-cell-padding:  5px !default;
$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                $color-dark-lighten !default;
$table-bg-active:               $table-bg-hover !default;

$table-border-color:            $color-2 !default;
$table-thead-color:             #fff !default;
$table-thead-bg-color:          $color-dark-lighten-2 !default;
$table-highlight:               #fff !default;


//- Buttons
//- ----------------------------------------------

$btn-font-weight:                700 !default;
$btn-font-family:                $font-family-accent !default;
$btn-text-transform:             uppercase !default;

// Border Radius
$btn-border-radius:              4px !default;
$btn-border-radius-lg:           4px !default;
$btn-border-radius-sm:           4px !default;
$btn-border-radius-xs:           2px !default;

// Font Size
$btn-border-font-size:           12px !default;
$btn-border-font-size-lg:        14px !default;
$btn-border-font-size-sm:        12px !default;
$btn-border-font-size-xs:        9px !default;

// Button Default
$btn-default-color:              #fff !default;
$btn-default-bg:                 $color-gray-2 !default;
$btn-default-hover:              $color-primary !default;
$btn-default-border:             transparent !default;

// Button Default - Alternative
$btn-default-alt-color:          #fff !default;
$btn-default-alt-bg:             $color-2 !default;
$btn-default-alt-hover:          $color-gray-2 !default;
$btn-default-alt-border:         transparent !default;

// Button Primary
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $color-2 !default;
$btn-primary-hover:              $color-primary !default;
$btn-primary-border:             transparent !default;

// Button Primary Inverse
$btn-primary-inverse-color:      #fff !default;
$btn-primary-inverse-bg:         $color-primary !default;
$btn-primary-inverse-hover:      lighten($color-primary, 7%) !default;
$btn-primary-inverse-border:     transparent !default;

// Button Success
$btn-success-color:              #fff !default;
$btn-success-bg:                 $color-4-darken !default;
$btn-success-hover:              darken($color-4-darken, 3%) !default;
$btn-success-border:             transparent !default;

// Button Info
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $color-info !default;
$btn-info-hover:                 darken($color-info, 3%) !default;
$btn-info-border:                transparent !default;

// Button Warning
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $color-warning !default;
$btn-warning-hover:              darken($color-warning, 3%) !default;
$btn-warning-border:             transparent !default;

// Button Danger
$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $color-danger !default;
$btn-danger-hover:               darken($color-danger, 3%) !default;
$btn-danger-border:              transparent !default;

// Button Default - Outline
$btn-o-default-color:            #fff !default;
$btn-o-default-color-hover:      #fff !default;
$btn-o-default-border:           $color-gray-3 !default;
$btn-o-default-border-hover:     $color-4 !default;
$btn-o-default-bg-hover:         transparent !default;

// Button Primary - Outline
$btn-o-primary-color:            #fff !default;
$btn-o-primary-color-hover:      #fff !default;
$btn-o-primary-border:           $color-gray-3 !default;
$btn-o-primary-border-hover:     $btn-o-default-border-hover !default;
$btn-o-primary-bg-hover:         transparent !default;

// Button Primary Inverse - Outline
$btn-o-inverse-color:            #fff !default;
$btn-o-inverse-color-hover:      #fff !default;
$btn-o-inverse-border:           #fff !default;
$btn-o-inverse-border-hover:     $btn-primary-hover !default;
$btn-o-inverse-bg-hover:         $btn-primary-hover !default;

// Button Success - Outline
$btn-o-success-color:            #fff !default;
$btn-o-success-color-hover:      #fff !default;
$btn-o-success-border:           $btn-success-bg !default;
$btn-o-success-border-hover:     $btn-success-hover !default;
$btn-o-success-bg-hover:         $btn-success-hover !default;

// Button Info - Outline
$btn-o-info-color:               #fff !default;
$btn-o-info-color-hover:         #fff !default;
$btn-o-info-border:              $btn-info-bg !default;
$btn-o-info-border-hover:        $btn-info-hover !default;
$btn-o-info-bg-hover:            $btn-info-hover !default;

// Button Warning - Outline
$btn-o-warning-color:            #fff !default;
$btn-o-warning-color-hover:      #fff !default;
$btn-o-warning-border:           $btn-warning-bg !default;
$btn-o-warning-border-hover:     $btn-warning-hover !default;
$btn-o-warning-bg-hover:         $btn-warning-hover !default;

// Button Danger - Outline
$btn-o-danger-color:             #fff !default;
$btn-o-danger-color-hover:       #fff !default;
$btn-o-danger-border:            $btn-danger-bg !default;
$btn-o-danger-border-hover:      $btn-danger-hover !default;
$btn-o-danger-bg-hover:          $btn-danger-hover !default;


//- Typography
//- ----------------------------------------------

$font-size-h1: 42px !default;
$font-size-h2: 36px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 22px !default;
$font-size-h6: 16px !default;

$font-weight-h1: 700 !default;
$font-weight-h2: 700 !default;
$font-weight-h3: 700 !default;
$font-weight-h4: 700 !default;
$font-weight-h5: 700 !default;
$font-weight-h6: 700 !default;

$headings-font-family: $font-family-accent !default;
$headings-color:       #fff !default;

$font-style-h1: italic !default;
$font-style-h2: normal !default;
$font-style-h3: italic !default;
$font-style-h4: italic !default;
$font-style-h5: italic !default;
$font-style-h6: normal !default;

$text-transform-h1: uppercase !default;
$text-transform-h2: uppercase !default;
$text-transform-h3: uppercase !default;
$text-transform-h4: uppercase !default;
$text-transform-h5: none !default;
$text-transform-h6: uppercase !default;

$line-height-base:        1.733333 !default; // 26/15

// OL
$ol-number-color: #fff !default;

// Thumb
$thumb-border-radius: 4px !default;


//- Forms
//- ----------------------------------------------

$input-label-color:       #fff !default;
$input-bg:                $color-dark-lighten !default;
$input-color:             $body-font-color !default;
$input-height-base:       52px !default;
$input-border:            rgba(255,255,255,.05) !default;
$input-border-radius:     4px !default;
$input-font-size:         $base-font-size !default;

$input-bg-disabled:       $color-dark-2 !default;
$input-border-disabled:   transparent !default;

$input-color-focus:       $body-font-color !default;
$input-bg-focus:          $input-bg !default;
$input-border-focus:      $color-3 !default;
$input-box-shadow-focus:  none !default;

$input-color-placeholder: rgba(127,126,140,0.6) !default;

$form-group-margin-bottom:       22px !default;

$input-height-base-sm:   45px !default;
$input-font-size-sm:     13px !default;

// Checkbox
$checkbox-bg:               $input-bg-disabled !default;
$checkbox-border:           $color-2 !default;
$checkbox-border-radius:    2px !default;
$checkbox-bg-active:        $color-primary !default;
$checkbox-border-active:    $color-primary !default;
$checkbox-bg-disabled:      $color-gray-3 !default;
$checkbox-border-disabled:  $color-gray-3 !default;

// Radio Button
$radio-bg:               $input-bg-disabled !default;
$radio-border:           $color-2 !default;
$radio-bg-disabled:      $color-gray-3 !default;
$radio-border-disabled:  $color-gray-3 !default;

// Select
$select-caret:           url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");


//- Tooltips
//- ----------------------------------------------

//** Tooltip text color
$tooltip-color:               #fff !default;
$tooltip-bg:                  $color-2 !default;
$tooltip-opacity:             1 !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


//- Form states and alerts
//- ----------------------------------------------

$state-success-text:             $color-success !default;
$state-success-bg:               $color-dark !default;
$state-success-border:           rgba(255,255,255,.05) !default;

$state-info-text:                $color-info !default;
$state-info-bg:                  $color-dark !default;
$state-info-border:              rgba(255,255,255,.05) !default;

$state-warning-text:             #ff7e1f !default;
$state-warning-bg:               $color-dark !default;
$state-warning-border:           rgba(255,255,255,.05) !default;

$state-danger-text:              $color-danger !default;
$state-danger-bg:                $color-dark !default;
$state-danger-border:            rgba(255,255,255,.05) !default;


//- Labels
//- ----------------------------------------------

$label-default-bg:            $color-gray !default;
$label-primary-bg:            $color-primary !default;
$label-success-bg:            $color-success !default;
$label-info-bg:               $color-info !default;
$label-warning-bg:            $color-warning !default;
$label-danger-bg:             $color-danger !default;

$label-color:                 #fff !default;
$label-link-hover-color:      #fff !default;


//- Modals
//- ----------------------------------------------

$modal-inner-padding:         15px !default;
$modal-title-padding:         15px !default;
$modal-title-line-height:     1.2em !default;
$modal-content-bg:                             #fff !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
$modal-content-fallback-border-color:          #999 !default;

$modal-backdrop-bg:           #000 !default;
$modal-backdrop-opacity:      .9 !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    830px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


//- Alerts
//- ----------------------------------------------

$alert-icon-width:            60px !default;

$alert-padding:               17px !default;
$alert-border-radius:         4px !default;
$alert-link-font-weight:      bold !default;
$alert-txt-accent-color:      #fff !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-icon-bg:       $state-success-text !default;
$alert-success-border:        $state-success-border !default;
$alert-success-icon-url:      "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath transform='translate(-189.438 -2446.25)' fill='%23fff' d='M201.45,2446.24l2.121,2.13-9.192,9.19-2.122-2.12Zm-4.949,9.2-2.121,2.12-4.95-4.95,2.121-2.12Z'/%3E%3C/svg%3E" !default;
$alert-success-icon-size:     14px 12px !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-icon-bg:          $state-info-text !default;
$alert-info-border:           $state-info-border !default;
$alert-info-icon-url:         "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 18'%3E%3Cpath transform='translate(-194 -2257)' fill='%23fff' d='M194.714,2257h3.572a0.716,0.716,0,0,1,.714.72l-0.714,11.16a0.716,0.716,0,0,1-.715.72h-2.142a0.716,0.716,0,0,1-.715-0.72L194,2257.72A0.716,0.716,0,0,1,194.714,2257Zm0.715,14.4h2.142a0.716,0.716,0,0,1,.715.72v2.16a0.716,0.716,0,0,1-.715.72h-2.142a0.716,0.716,0,0,1-.715-0.72v-2.16A0.716,0.716,0,0,1,195.429,2271.4Z'/%3E%3C/svg%3E" !default;
$alert-info-icon-size:        5px 18px !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-icon-bg:       $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;
$alert-warning-icon-url:      "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 18'%3E%3Cpath transform='translate(-194 -2257)' fill='%23fff' d='M194.714,2257h3.572a0.716,0.716,0,0,1,.714.72l-0.714,11.16a0.716,0.716,0,0,1-.715.72h-2.142a0.716,0.716,0,0,1-.715-0.72L194,2257.72A0.716,0.716,0,0,1,194.714,2257Zm0.715,14.4h2.142a0.716,0.716,0,0,1,.715.72v2.16a0.716,0.716,0,0,1-.715.72h-2.142a0.716,0.716,0,0,1-.715-0.72v-2.16A0.716,0.716,0,0,1,195.429,2271.4Z'/%3E%3C/svg%3E" !default;
$alert-warning-icon-size:     5px 18px !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-icon-bg:        $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;
$alert-danger-icon-url:       "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath transform='translate(-190.844 -2353.84)' fill='%23fff' d='M190.843,2355.96l2.121-2.12,9.193,9.2-2.122,2.12Zm9.192-2.12,2.122,2.12-9.193,9.2-2.121-2.12Z'/%3E%3C/svg%3E" !default;
$alert-danger-icon-size:      11px 11px !default;


//- Progress Bars
//- ----------------------------------------------

$progress-bg:                 #4e4d73 !default;
$progress-bar-color:          #fff !default;
$progress-border-radius:      3px !default;

$progress-bar-bg:             $color-primary !default;
$progress-bar-secondary-bg:   $color-4 !default;
$progress-bar-success-bg:     #aaf20e !default;
$progress-bar-warning-bg:     $color-warning !default;
$progress-bar-danger-bg:      $color-danger !default;
$progress-bar-info-bg:        $color-info !default;

$progress-label-color:        #fff !default;


//- Circular Bar
//- ----------------------------------------------

$circular-bar-label-color:    #fff !default;


//- Card
//- ----------------------------------------------

$card-bg:                     $color-dark !default;
$card-header-bg:              $color-dark-lighten !default;
$card-subheader-bg:           $color-dark-lighten-2 !default;
$card-border-color:           $color-2 !default;
$card-border-radius:          4px !default;
$card-horizontal-padding:     24px !default;
$card-vertical-padding:       24px !default;
$card-horizontal-padding-lg:  43px !default;
$card-vertical-padding-lg:    43px !default;
$card-horizontal-padding-xlg: 70px !default;
$card-vertical-padding-xlg:   70px !default;
$card-bg-sticky:              $card-bg !default;



//- Header
//- ----------------------------------------------

$header-bg:           $color-dark-2 !default;
$header-top-bg:       $color-dark !default;
$header-secondary-bg: $color-dark-2 !default;
$header-primary-bg:   $color-dark !default;

// Top Bar
$top-bar-link-color:                #fff !default;
$top-bar-highlight:                 $color-4 !default;
$top-bar-text-color:                $color-gray-3 !default;
$top-bar-divider-color:             $top-bar-text-color !default;
$top-bar-dropdown-bg:               $color-dark-lighten !default;
$top-bar-dropdown-border:           rgba(255,255,255,.03) !default;
$top-bar-dropdown-shadow:           0 0 12px rgba(0,0,0,.3) !default;
$top-bar-dropdown-link-color:       $color-gray !default;
$top-bar-dropdown-link-color-hover: $color-4 !default;

// Info Block
$header-info-block-color:             $color-4 !default;
$header-info-block-cart-sum-color:    $color-4 !default;
$header-info-block-link-color-mobile: $color-gray-3 !default;
$header-info-block-link-color-mobile-hover: #fff !default;

$header-info-block-color-mobile:             $color-4 !default;
$header-info-block-cart-sum-color-mobile:    $color-4 !default;

$header-info-block-title-color: #fff !default;
$header-info-block-link-color: $color-gray-3 !default;
$header-info-block-link-color-hover: #fff !default;

// Search Form
$header-search-width-desktop:       200px !default;
$header-search-width-desktop-lg:    320px !default;
$header-search-icon:                #fff !default;
$header-search-input-bg:            $color-dark-2 !default;
$header-search-input-border:        $header-search-input-bg !default;
$header-search-input-bg-focus:      $color-dark-2 !default;
$header-search-input-border-focus:  $header-search-input-bg-focus !default;

$header-search-input-bg-mobile:            $color-dark !default;
$header-search-input-border-mobile:        $header-search-input-bg-mobile !default;
$header-search-input-bg-focus-mobile:      $color-dark-lighten !default;
$header-search-input-border-focus-mobile:  $header-search-input-bg-focus-mobile !default;

// Mobile Header
$header-mobile-bg: $color-dark-2 !default;
$header-mobile-height: 100px !default;
$header-mobile-logo-width: 100px !default;

// Nav
$nav-align:                flex-start !default;
$nav-height:               62px !default;
$nav-font-family:          $font-family-accent !default;
$nav-text-transform:       uppercase !default;
$nav-font-weight:          700 !default;
$nav-font-style:           normal !default;
$nav-font-size:            12px !default;
$nav-font-color:           #fff !default;
$nav-font-color-hover:     #fff !default;
$nav-active-border-height: 4px !default;
$nav-active-border-color:  $color-primary !default;
$nav-active-border-pos:    top !default;
$nav-active-bg:            $color-dark-2 !default;
$nav-item-divider:         1px solid $color-2 !default;

// Submenu
$nav-sub-bg:               $color-dark-lighten !default;
$nav-sub-font-family:      $font-family-accent !default;
$nav-sub-text-transform:   uppercase !default;
$nav-sub-font-weight:      700 !default;
$nav-sub-font-style:       normal !default;
$nav-sub-font-size:        11px !default;
$nav-sub-arrow:            "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E";
$nav-sub-border-color:     $color-2 !default;
$nav-sub-link-color:       #fff !default;
$nav-sub-hover-bg-color:   $color-dark !default;
$nav-sub-hover-link-color: $color-4 !default;

// Megamenu
$nav-sub-megamenu-link-color:       $color-gray !default;
$nav-sub-megamenu-link-color-hover: $color-4 !default;
$nav-sub-megamenu-title-color:      #fff !default;
$nav-sub-megamenu-post-title-color: #fff !default;
$nav-sub-megamenu-txt-color:        $body-font-color !default;
$nav-sub-megamenu-meta-color:       $body-font-color !default;
$nav-sub-megamenu-meta-color-hover: $body-font-color !default;

// Mobile Nav
$nav-mobile-width: 270px !default;
$nav-mobile-bg: $color-dark !default;
$nav-mobile-color: #fff !default;
$nav-mobile-border: $color-dark-lighten !default;
$nav-mobile-font-size: 11px !default;
$nav-mobile-sub-bg: $color-dark-lighten !default;
$nav-mobile-sub-color: $color-gray !default;

// Header Cart
$header-cart-width:                    360px !default;
$header-cart-bg:                       $color-dark-lighten !default;
$header-cart-border:                   $color-2 !default;
$header-cart-product-name-color:       #fff !default;
$header-cart-product-name-color-hover: $color-4 !default;
$header-cart-product-name-font-style:  normal !default;
$header-cart-product-sum-color:        #fff !default;
$header-cart-product-rating:           $color-4 !default;
$header-cart-product-rating-empty:     #4e4d73 !default;
$header-cart-subtotal-label:           #fff !default;
$header-cart-subtotal-sum:             $color-4 !default;
$header-cart-product-close:            $color-gray-2 !default;
$header-cart-thumb-border-radius:      4px !default;

// Pushy Panel
$pushy-toggle-icon-color: #fff !default;
$pushy-panel-width: 380px !default;
$pushy-panel-bg: #fff !default;
$pushy-panel-bg-dark: $color-dark-lighten !default;


//- Page Heading
//- ----------------------------------------------
$page-heading-padding-lg: 67px 0 63px 0 !default;
$page-heading-bg-color: $color-dark !default;
$page-heading-bg-image-url: url("../images/football/page-heading.jpg") !default;
$page-heading-bg-pattern-url: repeating-radial-gradient(at 50% 50%, #000, #000 1px, transparent 1px, transparent 4px) !default;
$page-heading-bg-pattern-size: 5px 5px !default;
$page-heading-bg-pattern-repeat: repeat !default;
$page-heading-bg-pattern-opacity: 1 !default;
$page-heading-font-size: 36px !default;
$page-heading-font-highlight: $color-4 !default;
$page-heading-font-style: normal !default;


//- Player Page Heading
//- ----------------------------------------------
$player-page-heading-bg-color: $color-dark !default;
$player-page-heading-bg-image-url: url("../images/football/player-page-heading.jpg") !default;
$player-page-heading-bg-pattern-url: repeating-radial-gradient(at 50% 50%, #000, #000 1px, transparent 1px, transparent 4px) !default;
$player-page-heading-bg-pattern-opacity: 0.4 !default;
$player-page-heading-bg-pattern-size: 5px 5px !default;
$player-page-heading-bg-pattern-repeat: repeat !default;

$player-page-heading-second-name: $color-4 !default;
$player-page-heading-title: $body-font-color !default;


// Breadcrumbs
$breadcrumb-divider-color: $color-gray-3 !default;
$breadcrumb-link-hover-color: $color-primary !default;
$breadcrumb-link-active-color: $color-gray-3 !default;


//- Filter
//- ----------------------------------------------
$filter-bg:          $color-dark !default;
$filter-border:      $color-2 !default;
$filter-label-color: $body-font-color !default;
$filter-color:       #fff !default;
$filter-caret:       "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E" !default;
$filter-dropdown-bg: $color-dark-lighten !default;
$filter-dropdown-border: $filter-border !default;
$filter-dropdown-color: $color-gray-3 !default;
$filter-dropdown-color-hover: #fff !default;


//- Blog
//- ----------------------------------------------
$post-category-1: $color-primary !default;
$post-category-2: $color-3 !default;
$post-category-3: $color-4-darken !default;
$post-category-4: $color-primary !default;
$post-category-5: $color-primary !default;

$post-category-colors: () !default;
$post-category-colors: map-merge((
	"category-1": $post-category-1,
	"category-2": $post-category-2,
	"category-3": $post-category-3,
	"category-4": $post-category-4,
	"category-5": $post-category-5
), $post-category-colors);

$post-title-color: #fff !default;
$post-title-color-hover: $color-4 !default;
$post-title-font-style: italic !default;

$post-quote-bg:         $color-primary !default;
$post-quote-highlight:  #ffdc38 !default;
$post-quote-font-style: italic !default;
$post-quote-footer-font-style: italic !default;


//- Sidebar
//- ----------------------------------------------
$sidebar-content-font-size:   13px !default;
$sidebar-content-line-height: 22px !default;


//- Single Post
//- ----------------------------------------------
$single-post-author-avatar-size:          100px !default;
$single-post-author-avatar-border-radius: 4px !default;


//- Pagination
//- ----------------------------------------------
$pagination-bg:               $color-dark !default;
$pagination-color:            #fff !default;
$pagination-border:           $color-2 !default;
$pagination-bg-hover:         $color-primary !default;
$pagination-color-hover:      #fff !default;
$pagination-border-hover:     $color-primary !default;
$pagination-bg-active:        $color-primary !default;
$pagination-color-active:     #fff !default;
$pagination-border-active:    $color-primary !default;


//- Content Filter
//- ----------------------------------------------
$content-filter-bg:              $filter-bg !default;
$content-filter-border:          $filter-border !default;
$content-filter-color:           $color-gray-3 !default;
$content-filter-color-hover:     #fff !default;


//- Team
//- ----------------------------------------------
$team-select-color: #fff !default;
$team-select-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E") !default;


//- Shop
//- ----------------------------------------------
$shop-price-filter-bar-color: $color-primary !default;
$shop-price-filter-handle-color: $color-gray-2 !default;

$product-color-1: linear-gradient(to left top, #fe2b00, #f7d500) !default;
$product-color-2: linear-gradient(to left top, #003e78, #33fff3) !default;
$product-color-3: linear-gradient(to left top, #00adbd, #7cffd0) !default;
$product-color-4: linear-gradient(to left top, #3f1464, #dd2f8d) !default;
$product-color-5: linear-gradient(to left top, #140078, #4dcbff) !default;
$product-color-6: linear-gradient(to left top, #006f3f, #bdff3d) !default;

// Rating
$product-rating-color:          $color-4 !default;
$product-rating-color-disabled: #4e4d73 !default;

// Filter
$shop-layout-filter-color:        #4e4d73 !default;
$shop-layout-filter-color-active: $color-4 !default;

// Sale
$product-sale-bg: $color-primary !default;
$product-sale-color: #fff !default;


//- Footer
//- ----------------------------------------------
$footer-widgets-bg:        $color-dark-2 !default;
$footer-secondary-bg:      $color-dark-2 !default;
$footer-secondary-side-bg: $color-primary !default;
$footer-font-size:         13px !default;
$footer-line-height:       22px !default;
$footer-font-color:        $body-font-color !default;

// Footer Widgets
$footer-widget-title:            #fff !default;
$footer-widget-title-font-size:  14px !default;
$footer-widget-title-font-style: normal !default;
$footer-widget-title-margin:     2.4em !default;

$footer-widget-post-title-font-style: italic !default;
$footer-widget-post-title-line-height: 1.17em !default;
$footer-widget-post-thumb-border-radius: 4px !default;

$footer-widget-link-color: #fff !default;

// Footer Info Section
$footer-info-bg:        $color-dark-2 !default;

// Contact Form
$footer-widget-contact-form-input-bg:     #232335 !default;
$footer-widget-contact-form-input-border: #232335 !default;
$footer-widget-contact-form-loader:       $footer-widget-title !default;

// Footer Copyright
$footer-copyright-font-size:    10px !default;
$footer-copyright-border-size:  1px !default;
$footer-copyright-border-style: solid !default;
$footer-copyright-border-color: $color-2 !default;

$footer-copyright-padding:           24px !default;
$footer-copyright-padding-lg:        50px !default;
$footer-copyright-link-color:        #fff !default;
$footer-copyright-link-color-active: $color-4 !default;

// Footer Nav
$footer-nav-font-size:    12px !default;
$footer-nav-font-size-sm: 10px !default;
$footer-nav-color:        #fff !default;
$footer-nav-color-active: $color-4 !default;


//- SVG Icon
//- ----------------------------------------------
$svg-stroke: $color-4 !default;
$footer-contact-info-icon-color: $color-4 !default;


//- Info Block
//- ----------------------------------------------
$info-block-link-color: $color-gray-3 !default;


//- Icobox
//- ----------------------------------------------
$icobox-icon-border-color: #595772 !default;
$icobox-icon-color-primary: $color-primary !default;
$icobox-icon-color-secondary: $color-4 !default;
$icobox-title-font-size: 22px !default;
$icobox-title-font-style: italic !default;
$icobox-title-text-transform: none !default;


//- Timeline
//- ----------------------------------------------
$timeline-marker-color: $color-4 !default;
$timeline-marker-line-color: #4e4d73 !default;


//- Preloader
//- ----------------------------------------------
$preloader-bg: $color-dark-2 !default;
$preloader-size: 32px !default;
$preloader-color: $color-4 !default;
$preloader-color-secondary: rgba(255,255,255, 0.15) !default;
$preloader-spin-duration: 1s !default;

// For generating grid via class
$grid-gutter-width: 16px !default;


//- Scoreboard
//- ----------------------------------------------

// Default color
$scoreboard-default-bg: $card-bg !default;
$scoreboard-default-bg-hover: darken($card-bg, 3%) !default;
$scoreboard-default-border-color: $card-border-color !default;
$scoreboard-default-text-color: $body-font-color !default;
$scoreboard-default-team-color: $headings-color !default;
$scoreboard-default-result-color: $body-font-color !default;

// Alternative color
$scoreboard-dark-bg: $header-secondary-bg !default;
$scoreboard-dark-bg-hover: lighten($scoreboard-dark-bg, 5%) !default;
$scoreboard-dark-border-color: rgba(255,255,255,.1) !default;
$scoreboard-dark-text-color: $body-font-color !default;
$scoreboard-dark-team-color: #fff !default;
$scoreboard-dark-result-color: $body-font-color !default;
