/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 */

/**
 * Imports
 */
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'fonts';

@import "woocommerce-layout";
@import "woocommerce-smallscreen";

/**
 * Global styles
 */
p.demo_store,
.woocommerce-store-notice {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
	display: none;

	a {
		color: $primarytext;
		text-decoration: underline;
	}
}

.admin-bar {
	p.demo_store {
		top: 32px;
	}
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Main WooCommerce styles
 */
.woocommerce {
	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}

	.loader {
		@include loader();
	}

	a.remove {
		display: block;
		font-size: 1.5em;
		height: 1em;
		width: 1em;
		text-align: center;
		line-height: 1;
		border-radius: 100%;
		color: $headings-color;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		opacity: 0.4;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 1;
		}
	}

	small.note {
		display: block;
		color: $subtext;
		font-size: 0.857em;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb {
		@include clearfix();
		margin: 0 0 1em;
		padding: 0;
		font-size: 0.92em;
		color: $subtext;

		a {
			color: $subtext;
		}
	}

	.quantity {
		.qty {
			width: 3.631em;
			padding-left: $padding-base-horizontal/2;
			padding-right: 0;
			text-align: center;
		}
	}

	/**
	 * Product Page
	 */
	div.product {
    position: relative;

    @if $template == soccer {
      margin-bottom: 15px;
    } @else {
      margin-bottom: 0;
    }

		span.price,
		p.price {
			color: $highlight;
			font-size: 1.25em;

			ins {
				background: inherit;
				font-weight: 700;
			}

			del {
				opacity: 0.5;
			}
		}

		p.stock {
			font-size: 0.92em;
		}

		.stock {
			color: $highlight;
		}

		.out-of-stock {
			color: red;
		}

		div.images {
			margin-bottom: 2em;

			img {
				display: block;
				width: 100%;
				height: auto;
				box-shadow: none;
			}

			div.thumbnails {
				padding-top: 1em;
			}

			&.woocommerce-product-gallery {
				position: relative;
			}

			.woocommerce-product-gallery__wrapper {
				transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
			}

			.woocommerce-product-gallery__image:nth-child(n+2) {
				width: 25%;
				display: inline-block;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: .5em;
				right: .5em;
				font-size: 2em;
				z-index: 9;
				width: 36px;
				height: 36px;
				background: #fff;
				text-indent: -9999px;
				border-radius: 100%;
				box-sizing: content-box;

				&:before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					border: 2px solid #000;
					border-radius: 100%;
					position: absolute;
					top: 9px;
					left: 9px;
					box-sizing: content-box;
				}

				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 8px;
					background: #000;
					border-radius: 6px;
					position: absolute;
					top: 19px;
					left: 22px;
					transform: rotate(-45deg);
					box-sizing: content-box;
				}
			}

			.flex-control-thumbs {
				overflow: hidden;
				zoom: 1;
				margin: 0;
				padding: 0;

				li {
					width: 25%;
					float: left;
					margin: 0;
					list-style: none;

					img {
						cursor: pointer;
						opacity: .5;
						margin: 0;

						&.flex-active,
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}

		.woocommerce-product-gallery--columns-3 {
			.flex-control-thumbs li:nth-child(3n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-4 {
			.flex-control-thumbs li:nth-child(4n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-5 {
			.flex-control-thumbs li:nth-child(5n+1) {
				clear: left;
			}
		}

		div.summary {
			margin-bottom: 2em;
		}

		div.social {
			text-align: right;
			margin: 0 0 1em;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		p.cart {
			margin-bottom: 2em;
			@include clearfix();
		}

		form.cart {
			margin-bottom: 2em;
			@include clearfix();

			div.quantity {
				float: left;
				margin: 0 1em 0 0;
			}

			table {
				border-width: 0 0 1px;

				td {
					padding-left: 0;
				}

				div.quantity {
					float: none;
					margin: 0;
				}

				small.stock {
					display: block;
					float: none;
				}
			}

			.variations {
				margin-bottom: 1em;
				border: 0;
				width: 100%;

				td,
				th {
					border: 0;
					vertical-align: top;
				}

				label {
					font-weight: 700;
					margin-bottom: 0;
				}

				select {
					max-width: 100%;
					min-width: 75%;
					display: inline-block;
					margin-right: 1em;
				}

				td.label {
					padding-top: 35px;
					padding-right: 1em;
					display: table-cell;
				}
			}

			.woocommerce-variation-price {
				margin-bottom: .5em;
				@include font-accent(12px);
			}

			.woocommerce-variation-description {
				p {
					margin-bottom: 1em;
				}
			}

			.reset_variations {
				visibility: hidden;
				margin-top: 2em;
			}

			.wc-no-matching-variations {
				display: none;
			}

			.button {
				vertical-align: middle;
				float: left;
				@include button-size(15px, 40px, $btn-border-font-size-lg, 1.45em, $btn-border-radius-lg);

				&::before {
		      content: "\e04f";
		      font-family: 'simple-line-icons';
		      font-weight: normal;
		      font-style: normal;
		      -webkit-font-smoothing: antialiased;
		      -moz-osx-font-smoothing: grayscale;
		      margin-right: 1em;
		      display: inline-block;
		      font-size: 15px;
		      line-height: 1.2em;
		      vertical-align: middle;
		    }
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1.5em;
					display: table-cell;
				}

				td {
					vertical-align: top;
					padding-bottom: 0.5em;
					border: 0;
					vertical-align: middle;
				}

				.stock {
					margin-bottom: 0;
				}

				td:first-child {
					text-align: center;
				}

				.wc-grouped-product-add-to-cart-checkbox {
					display: inline-block;
					width: auto;
					margin: 0 auto;
					transform:scale(1.5, 1.5);
				}
			}
		}
	}

	.single_add_to_cart_button {
		@include button-size(15px, 40px, $btn-border-font-size-lg, 1.45em, $btn-border-radius-lg);

		@media (max-width:479px) {
			padding-left: 30px;
			padding-right: 30px;
		}

		&::before {
			content: "\e04f";
			font-family: 'simple-line-icons';
			font-weight: normal;
			font-style: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-right: 1em;
			display: inline-block;
			font-size: 15px;
			line-height: 1.2em;
			vertical-align: middle;
		}
	}

  // Sale
  span.onsale {
    display: block;
    position: absolute;
    z-index: 3;
    color: $product-sale-color;
    @include font-accent(10px);

    @if $template == basketball {
      top: $card-vertical-padding * 2;
    } @else {
			top: 0;
		}

    @if $template == soccer {
      right: 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-left: 76px solid transparent;
        border-top: 76px solid $product-sale-bg;
        z-index: 1;
      }

      .onsale__inner {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

    } @else {
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      top: $card-vertical-padding;
      left: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 50%;
      background-color: $product-sale-bg;
      color: $product-sale-color;
      -webkit-font-smoothing: antialiased;
      right: $card-horizontal-padding;
      left: auto;
    }
  }

	/**
	 * Buttons
	 */
	.button,
	#respond input#submit,
	.btn {

		&.loading {
			position: relative;
	    opacity: 0.75;

	    &::after {
	      font-family: 'FontAwesome';
	      content: '\f021';
	      vertical-align: top;
	      -webkit-font-smoothing: antialiased;
	      font-weight: 400;
	      position: absolute;
	      top: 14px;
	      right: 1.25em;
	      animation: spin 2s linear infinite;
	    }
		}

		&.added {
			display: none;

			// &::after {
			// 	font-family: 'FontAwesome';
			// 	content: '\f00c';
			// 	margin-left: 0.53em;
			// 	vertical-align: bottom;
			// 	font-weight: 400;
			// }
		}

		&:disabled,
		&.disabled,
		&:disabled[disabled] {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	.cart .button,
	.cart input.button {
		float: none;
	}

	.woocommerce-review__verified {
		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border-radius: 50%;
		background-color: $color-primary;
		left: 50%;
		top: 0;
		margin-left: 12px;
		text-indent: -999px;
		text-align: center;
		font-style: normal;

		&::before {
			content: "\f00c";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-indent: 0;
      font-family: 'FontAwesome';
      font-weight: normal;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-size: 14px;
      line-height: 24px;
      vertical-align: middle;
			color: #fff;
		}
	}

	.woocommerce-review__awaiting-approval {
		font-size: $sidebar-content-font-size;
		line-height: 1.35em;
		display: block;
	}

	/**
	 * Star ratings
	 */
	.star-rating {
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1;
		font-size: 10px;
		width: 68px;
		letter-spacing: 5px;
		font-family: 'FontAwesome';

		&::before {
			content: '\f005\f005\f005\f005\f005';
			color: $product-rating-color-disabled;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}

		span::before {
			content: '\f005\f005\f005\f005\f005';
			top: 0;
			position: absolute;
			left: 0;
			color: $product-rating-color;
		}
	}

	.woocommerce-product-rating {

		.star-rating {
			width: 84px;
			font-size: 13px;
			letter-spacing: 6px;
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0;
		}
	}

	#review_form {
		#respond {
			@include clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0;
			background: transparent none;
			border: 0;

			.form-submit {
				margin-bottom: 0;
				padding-top: 12px;

				input[type="submit"] {
					@include button();
					@include button-variant($btn-default-color, $btn-default-bg, $btn-default-hover, $btn-default-border);
					@include button-size(16px, 80px, $btn-border-font-size-lg, 1.45em, $btn-border-radius-lg);
					display: block;
					width: 100%;
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			textarea {
				box-sizing: border-box;
				width: 100%;
			}
		}
	}

	p.stars {
		a {
			position: relative;
			height: 1em;
			width: 1em;
			text-indent: -999em;
			display: inline-block;
			text-decoration: none;

			&::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				line-height: 1;
				font-family: 'FontAwesome';
				content: '\f005';
				text-indent: 0;
			}

			&:hover {
				~ a::before {
					content: '\e021';
				}
			}
		}

		&:hover {
			a {
				&::before {
					content: '\e020';
				}
			}
		}

		&.selected {
			a.active {
				&::before {
					content: '\e020';
				}

				~ a::before {
					content: '\e021';
				}
			}

			a:not( .active ) {
				&::before {
					content: '\e020';
				}
			}
		}
	}

	/**
	 * Tables
	 */
	table.shop_attributes {
		border: 0;
		border-top: 1px dotted $table-border-color;
		margin-bottom: 1.618em;
		width: 100%;

		th {
			width: 150px;
			font-weight: 700;
			padding: 12px;
			border-top: 0;
			border-bottom: 1px dotted $table-border-color;
			margin: 0;
			line-height: 1.5;
			font-family: $font-family-accent;
			font-size: 12px;
			color: $headings-color;
		}

		td {
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted $table-border-color;
			margin: 0;
			line-height: 1.5;
			font-family: $font-family-accent;
			font-size: 12px;

			p {
				margin: 0;
				padding: 8px 0;
			}
		}

		tr:nth-child(even) td,
		tr:nth-child(even) th {
			background: $table-bg-active;
		}
	}

	table.shop_table {

		td {

			small {
				font-weight: normal;
			}
		}

		tbody:first-child {
			tr:first-child {
				th,
				td {
					border-top: 0;
				}
			}
		}
	}

	table.woocommerce-MyAccount-downloads {
		td,
		th {
			vertical-align: top;
			text-align: center;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: left;
			}
			.woocommerce-MyAccount-downloads-file {
				&::before {
					content: '\2193';
					display: inline-block;
				}
			}
		}
	}

	td.product-name {
		dl.variation, .wc-item-meta {
			list-style: none outside;

			dt, .wc-item-meta-label {
				float: left;
				clear: both;
				margin-right: .25em;
				display: inline-block;
				list-style: none outside;
			}

			dd {
				margin: 0;
			}

			p,
			&:last-child {
				margin-bottom: 0;
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}


	/**
	 * Forms
	 */
	form {
		.form-row {
			margin: 0 0 22px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}

			label.hidden {
				visibility: hidden;
			}

			label.inline {
				display: inline;
			}

			select {
				cursor: pointer;
				margin: 0;
			}

			.select2-container {
				width: 100%;
				line-height: 2em;
			}

			&.woocommerce-invalid {
				label {
					color: $red;
				}
				.select2-container,
				input.input-text,
				select {
					border-color: $red;
				}
			}

			&.woocommerce-validated {
				.select2-container,
				input.input-text,
				select {
					border-color: $green - #111;
				}
			}

			::-webkit-input-placeholder {
				line-height: normal;
			}

			:-moz-placeholder {
				line-height: normal;
			}

			:-ms-input-placeholder {
				line-height: normal;
			}
		}
	}

	ul#shipping_method {

		li {
			margin: 0;
			padding: 0;

			&::before {
				display: none;
			}
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/**
	 * Order page
	 */
	ul.order_details {
		@include clearfix();
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed $card-border-color;
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;

			h6 {
				margin-bottom: 0;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	.wc-bacs-bank-details-account-name {
		font-weight: bold;
	}

	.order-again {
		padding: $card-vertical-padding $card-horizontal-padding;
		margin-bottom: 0;

	}



	/**
	 * Rating Filter Widget
	 */
	.widget_rating_filter {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style: none;

				a {
					padding: 1px 0;
					text-decoration: none;
				}

				.star-rating {
					float: none;
					display: inline-block;
				}
			}

			li.chosen {
				a {
					&::before {
						@include iconbefore( '\e013' );
						color: $red;
					}
				}
			}
		}
	}
}

/**
 * Photoswipe
 * 1. These styles are required to overwrite default theme button styles (Twenty Twelve adds gradients via background-image).
 * 2. For zooming on mobile.
 */
.pswp {
	z-index: 999999;
}

.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img {
	max-width: none; /* 2 */
}

button.pswp__button {
	box-shadow: none !important;
	background-image: url('photoswipe/default-skin/default-skin.png') !important;
}

button.pswp__button,
button.pswp__button:hover,
button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before {
	background-color: transparent !important; /* 1 */
}

button.pswp__button--arrow--left,
button.pswp__button--arrow--right,
button.pswp__button--arrow--left:hover,
button.pswp__button--arrow--right:hover {
	background-image: none !important; /* 1 */
}

button.pswp__button--close:hover {
	background-position: 0 -44px;
}

button.pswp__button--zoom:hover {
	background-position: -88px 0;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	@include alert();
	color: $alert-txt-accent-color;
  font-size: 11px;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-weight: bold;

	.button {
		float: right;
		background: none;
		border-color: $btn-o-default-border;
    color: $btn-o-default-color;
		@include button-size(5px, 13px, $btn-border-font-size-xs, 1.5em, $btn-border-radius-xs);

    &:hover {
      background-color: $btn-o-default-bg-hover;
      border-color: $btn-o-default-border-hover;
      color: $btn-o-default-color-hover;

      &.btn-circle {
        background-color: $btn-o-default-border-hover;
      }
    }
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

/**
 * Right to left styles
 */
.rtl {
	&.woocommerce {
		div.product {
			div.images {
				.flex-control-thumbs {
					li {
						float: right;
					}
				}
			}
		}
	}
}

.woocommerce-message {
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-icon-bg, $alert-success-icon-url, $alert-success-icon-size);
}

.woocommerce-info {
	@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-icon-bg, $alert-info-icon-url, $alert-info-icon-size);
}

.woocommerce-error {
	@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-icon-bg, $alert-danger-icon-url, $alert-danger-icon-size);
}

/**
 * Account page
 */
.woocommerce-account {
	.woocommerce {
		@include clearfix();
	}

	.addresses {
		.title {
			@include clearfix();

			h3 {
				float: left;
				font-size: $font-size-h4;
			}

			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&::before {
				@include iconbefore( '\e00a' );
			}

			.count {
				float: right;
			}
		}
	}
}

/**
 * Cart/checkout page
 */
.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
	table.cart {

		img {
			width: 70px;
		}

		th,
		td {
			vertical-align: middle;
		}
	}

	.cart-collaterals {


		.woocommerce-shipping-calculator {

			> p {
				display: none !important;
			}
		}

		.shipping-calculator-form {
			display: block !important;
		}

		.cart_totals {

			table {

				small {
					color: $subtext;
				}
			}

			.discount td {
				color: $highlight;
			}
		}

		.cross-sells {
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}

	}
	.checkout {

		.notes {
			margin-bottom: 0;

			textarea {
				height: 10em;
			}
		}

		.col-2 {
			.form-row-first {
				clear: left;
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {

		ul.payment_methods {


			li {


				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 0.5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}

			li:not(.woocommerce-notice) {
				@include clearfix;
			}
		}

		div.payment_box {

			.woocommerce-SavedPaymentMethods {
				list-style: none outside;
				margin: 0;

				.woocommerce-SavedPaymentMethods-token,
				.woocommerce-SavedPaymentMethods-new {
					margin: 0 0 0.5em;
					label {
						cursor: pointer;
					}
				}
				.woocommerce-SavedPaymentMethods-tokenInput {
					vertical-align: middle;
					margin: -3px 1em 0 0;
					position: relative;
				}
			}

			.wc-credit-card-form {
				border: 0;
				padding: 0;
				margin: 1em 0 0;
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right 0.618em center;
				background-size: 32px 20px;

				&.visa {
					background-image: url('../../assets/images/credit-cards/visa.svg');
				}

				&.mastercard {
					background-image: url('../../assets/images/credit-cards/mastercard.svg');
				}

				&.laser {
					background-image: url('../../assets/images/credit-cards/laser.svg');
				}

				&.dinersclub {
					background-image: url('../../assets/images/credit-cards/diners.svg');
				}

				&.maestro {
					background-image: url('../../assets/images/credit-cards/maestro.svg');
				}

				&.jcb {
					background-image: url('../../assets/images/credit-cards/jcb.svg');
				}

				&.amex {
					background-image: url('../../assets/images/credit-cards/amex.svg');
				}
				&.discover {
					background-image: url('../../assets/images/credit-cards/discover.svg');
				}
			}

			span.help {
				font-size: 0.857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				float: right;
				line-height: 52px;
				font-size: 0.83em;
			}

			img {
				max-height: 52px;
				vertical-align: middle;
			}
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: center;
	font-weight: 600;
	padding: 3px 0.5em;
	font-size: 1em;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
	}
}

.woocommerce-password-hint {
	margin: 0.5em 0 0;
	display: block;
}

.woocommerce-form__label-for-checkbox--terms {
	.checkbox-indicator {
		top: 0 !important;
	}
}

// Header
@import "header-shopping-cart";

// Widgets
@import "widget-layered-nav";
@import "widget-layered-nav-filters";
@import "widget-price-filter";
@import "widget-products";
@import "widget-shopping-cart";
@import "widget-recent-reviews";
@import "widget-color-filters";

// Shop
@import "shop/shop-filter";
@import "shop/shop-pagination";
@import "shop/shop-products";
@import "shop/checkout-review-order";
@import "shop/checkout-payment";
@import "shop/account-nav";
@import "shop/shop-table";
@import "shop/shop-banner";
@import "shop/filter-color";

// Single Product
@import "single-product/product-tabs";
